<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--支持从方法参数传入页码-->
            <property name="supportMethodsArguments" value="true"/>
            <!--页码合理化-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
</configuration>