<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--自动扫包-->
    <context:component-scan base-package="cn.jxust.partTimeJob.service"/>
    <context:component-scan base-package="cn.jxust.partTimeJob.dao"/>

    <!--加载jdbc相关配置-->
    <context:property-placeholder location="classpath:db.properties"/>

    <!--mybatis基本配置-->
    <bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxIdleTime" value="600"/>
        <property name="maxPoolSize" value="100"/>
        <property name="minPoolSize" value="10"/>
        <property name="initialPoolSize" value="10"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--如果前端选择分页，这里还要加载一个mybatis_config.xml-->
        <property name="configLocation" value="classpath:mybatis_config.xml"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        <property name="typeAliasesPackage" value="cn.jxust.partTimeJob.pojo"/>
        <property name="dataSource" ref="datasource"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="cn.jxust.partTimeJob.dao"/>
    </bean>
</beans>